<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>




<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
var message_Path = '/live2d/';//资源目录，如果目录不对请更改
var talkAPI = "http://api.qingyunke.com/api.php";//如果有类似图灵机器人的聊天接口请填写接口路径
</script>
<script type="text/javascript" src="live2d/js/live2d.js"></script>
<script type="text/javascript" src="live2d/js/message.js"></script>
<!-- <script src="/assets/js/_main.js"></script>
<script src="/Live2dHistoire/live2d/js/live2d.js"></script>
<script src="/Live2dHistoire/live2d/js/message.js"></script> -->
<!-- end custom footer snippets -->
